               <a href="<%= adminPath %>/members" class="inline-block bg-gradient-to-r from-green-500 to-teal-600 text-white font-bold py-3 px-6 rounded-lg hover:opacity-90 transition-opacity">Accéder à l'Équipe</a>
             </div>
            </div>
